/*
  Color Variables
  ---------------
*/
$color-primary: #0202cb;
$color-secondary: #ff6300;
$color-tertiary: #b806cc;
$color-tertiary-dark: #45024c;
$color-white: #ffffff;
$color-black: #000000;
$color-base: #fdf9fe;
/*
  Font Variables
  --------------
*/
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import 'mixins';

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'BenchNine', sans-serif;
/* 
  Mixins 
  ------
*/

/*
  Mobile Responsiveness
  ---------------------
*/

/*
  Main
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $color-black;
}

a:link,
a:visited a:focus {
  text-decoration: none;
  outline: none;
}

input:link,
input:hover,
input:focus,
input:active {
  outline: none;
  background-color: tranparent;
}

input::-webkit-input-placeholder {
  font-family: $font-primary;
}

input::-moz-placeholder {
  font-family: $font-primary;
}

input:-ms-input-placeholder {
  font-family: $font-primary;
}

input::-ms-input-placeholder {
  font-family: $font-primary;
}

input::placeholder {
  font-family: $font-primary;
}

textarea::-webkit-input-placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

textarea::-moz-placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

textarea:-ms-input-placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

textarea::-ms-input-placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

textarea::placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
}

button:link,
button:hover,
button:focus,
button:active {
  outline: none;
  background-color: tranparent;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% 1rem
  @media all and (max-width: 480px) {
    font-size: 48%;
  }

  @media all and (min-width: 480px) and (max-width: 576px) {
    font-size: 52%;
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {
    font-size: 45%;
  }

  @media all and (min-width: 1440px) and (max-width: 1600px) {
    font-size: 55%;
  }

  @media (min-width: 1920px) {
    width: 100%;
    margin: 0 auto;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.6;
}

.mb-8 {
  @include mb-8;
}
